.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.RDS
*.dll
*.o
*.so
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex
*.bbl
*.pdf
*.aux
*.blg
*.log
*.out
*.synctex
*.bak
*.Rd
*.tar.gz
*.tar
*.fls
*.synctex.gz
*.fdb_latexmk
*.dvi
*.Rproj
.Rhistory
.Rbuildignore
peer.Rcheck
*.zip
*.spl
*.xdv
*.xlsx
log